:root {
    --main-color: #76eee2;
    --header-size: 36px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0;
    height: var(--header-size);
}

.burger-btn {
    height: var(--header-size);
    width: var(--header-size);
    border: none;
    margin-left: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
}

.burger-btn span {
    width: var(--header-size);
    height: 3px;
    background-color: var(--main-color);
}

.search {
    height: var(--header-size);
    position: relativ;
    display: flex;
    margin-right: 20px;
}

.searchText {
    border: 2px solid var(--main-color);
    border-right: none;
    border-radius: 5px 0 0 5px;
    padding: 2px;
    outline: none;
}

.searchButton {
    background: url('../img/loupe.svg') center no-repeat;
    height: var(--header-size);
    width: var(--header-size);
    border: none;
    border-radius: 0px 5px 5px 0px;
    background-color: var(--main-color);
    color: white;
    padding: 0;
    cursor: pointer;
}

.head-menu-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
    overflow-x: auto;
    height: 32px;
}

.head-menu-item {
    cursor: pointer;
    background-color: var(--main-color);
    text-decoration: none;
    margin-right: 8px;
    padding: 8px 16px;
    border-radius: 5px;
    color: white;
    flex-shrink: 0;
}

.head-menu-item::-webkit-scrollbar {
    /* display: none; */
}
