:root {
    --main-color: #76eee2;
}

body {
    margin: 0;
    padding: 0;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    align-items: flex-start;
    margin: 20px 0;
    height: 24px;
}

.burger-btn {
    height: 24px;
    width: 24px;
    border: none;
    margin-left: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
}

.burger-btn span {
    width: 24px;
    height: 3px;
    background-color: var(--main-color);
}

.search {
    height: 24px;
    position: relativ;
    display: flex;
    margin-right: 20px;
}

.searchText {
    border: 2px solid var(--main-color);
    border-right: none;
    border-radius: 5px 0 0 5px;
    height: 16px;
    padding: 2px;
    /* outline: none; */
}

.searchButton {
    background: url('../img/loupe.svg') center no-repeat;
    height: 24px;
    width: 24px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    background-color: var(--main-color);
    color: white;
    padding: 0;
}
